button{
    border: none;
    outline: none;
    cursor: pointer;
}

.container{
    width: 90%;
    max-width: 724px;
    margin: 10px auto;
}

.loading_circle{
    width: 100px;
    height: 100px;
}

.card_holder{
    position: fixed;
    top: 0;
    left: 0;
    z-index:1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.card_holder > .container{
    background-color: whitesmoke;
    border-radius: 10px;
    max-width: 450px;
}

.card_holder > .container > .card_top{
    padding: 10px 15px; 
    background-color: #005555;
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 8px 8px 0 0;
}


div.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site_card{
    padding: 10px 20px;
    background-color: #fbfbfb;
    width: 100%;
    margin: 7px 0;
    border-radius: 5px;
}

.site_card:first-child{
    margin-top: 14px;
}

.site_card:last-child{
    margin-bottom: 14px;
}

.site_card p {
    margin: 5px 0;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    border-radius: 5px;
    max-width: 200px;
    text-decoration: none;
    color:white;
    font-weight: bold;
    background-color: teal;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
    font-size: 0.9rem;
}

.btn:hover{
    background-color: #005555;
}

.del{
    background-color: #ff5858;
}

.del:hover{
    background-color:#cc2020;
}

.edit{
    background-color: orange;
    color: black;
}

.edit:hover{
    background-color: #ffbd42;
}

.container .errors{
    max-width: 250px;
    margin: 0 auto;
    list-style-type: none;
}

.container .errors li{
    color: #b33d3d;
    font-weight: bold;
    background-color: #ffa0a0;
    padding: 4px 10px;
    display: flex;
    justify-content: space-between;
}

.container .errors li button{
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out ;
}

.container .errors li button:hover{
    color: black;
}

form.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_group{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
}

.form_group label{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}

.form_group input, textarea{
    width: 100%;
    padding: 5px 10px;
    /* font-weight: bold; */
}

.form_group input::placeholder, textarea::placeholder{
    color: #a7a7a7;
    font-weight: normal;
}

.form_group textarea{
    height: 60px;
}


.form_group input[type="submit"], .cta_button{
    outline: none;
    border: none;
    background: teal;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    transition: background 0.2s ease-in-out;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_group input[type="submit"]:hover, .cta_button:hover{
    background: #005555;
}

.cta_button{
    width: 100%;
}

.footer{
    text-align: center;
}

.cta_container{
    display: flex;
    width: fit-content;
    margin: 10px 0 auto;
    grid-gap: 10px;
}